/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: #256e82;
$font: 'Merriweather';
$big-font-size: 50px;

;

body {
  background: $primary-background;
}

h1 {
  font-family: $font;
  font-weight: 500;
  font-style: italic;
  font-size: $big-font-size;
}
